body{
    width:100%;
    height:100%;
    overflow-x:hidden;
    font-family: 'Lobster', cursive;
    white-space:nowrap;
}
header h1,header p{
    color:rgb(177, 177, 0);
}
.cabecalhofixo{
    display:flex;
    background:linear-gradient(90deg,black,rgb(31, 31, 31));
    width:100%;
    justify-content:space-between; 
}
.logo{
    width:8%
}
.cabecalhofixo ul{
    display:flex;
    padding-top:2.5%;
    padding-right:2%;
}
.cabecalhofixo li{
    color:rgb(177,177,0);
    margin-left:2em;
    list-style:disc;
    font-size:1.5em;
}
.cabecalhofixo a{
    text-decoration:none;
}
.cabecalhofixo p{
    font-size:1.5em;
    text-align:center;
}
.cabecalhofixo p:hover{
    color:white;
}

.bannercabecalho{
    display:flex;
    background-image:url("tarologa.jpg");
    background-repeat:no-repeat;
    background-size:100%;
    width:100%;
    height:100%;
    justify-content:left;
}
.bannercabecalho h1{
    font-size:1050%;
    letter-spacing:0.1em;
    padding:30% 0 18% 0%;;
    -webkit-text-stroke: 5px black;
}
main{
    flex-direction:column;
    width:100%;
    flex-wrap:wrap;
    display:flex;
    background: linear-gradient(90deg,rgb(0,0,0),rgb(79, 0, 0));
}
#sobre-mim-e-servicos{
    display:flex;
    justify-content:center;
    flex-direction:column-reverse;
}
#sobre-mim{
    display:flex;
}
.titulo{
    display:flex;
    justify-content:center;
    font-size:5em;
    color:white;
    padding-top:3%;   
}
.subtitulo{
    font-size:2.3em;
    color:rgb(177, 177, 0);
    letter-spacing:0.5em;
    text-transform:uppercase;
    padding:1em 0 0 6em;
}
main p{
    color:rgb(164, 164, 164);
    font-size:1.5em;
}
#servicos ul{

    flex-wrap:wrap;
    display:flex;
}
#servicos ul li{
    text-align:center;
    padding:0.5%;
}
#servicos img{
    display:none;
    width:300px;
    height: 300px;
    padding-top:5%;
}
#servicos h3{
    font-size:2em;
    color:white;
}
#sobre-mim  p{
    text-align:center;
    font-size:2em;
}
.conselhos{
    display:flex;
    width:40%;
}
.conselhos img{
    display:none;
    width:100%;
}
















@media screen and (max-width: 600px){
    html{
        display:flex;
    }
    .cabecalhofixo{
        width:auto;
        height:100%;
    }
    .cabecalhofixo ul{
        justify-content:center;
        padding:0;
        font-size:2em;
    }
    .cabecalhofixo li{
        padding:0 2 5% 1%; 
        list-style-type:none;
    }
    .logo{
        display:none;
        width:0;
    }
    .bannercabecalho{
        justify-content:center;
        background-size:100%;
        width:auto;
        height:auto;
    }
    .bannercabecalho h1{
        font-size: 1500%;
        padding:35% 10% 3% 10%;
    }
    main{
        flex-direction:column-reverse;
        justify-content:center;
    }
    #sobre-mim{
        width:auto;
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
    }
    #sobre-mim .titulo{
        flex-wrap:wrap;
        font-size:3em;
    }
    #sobre-mim .subtitulo{

    }
    #sobre-mim .video-e-texto{
        flex-wrap:wrap;
    }
    #sobre-mim video{
        width:auto;
    }
    #servicos img{

    }
}